---
http_interactions:
- request:
    method: get
    uri: http://na.lolesports.com/api/game/7071.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"1440279588-1"'
      Last-Modified:
      - Sat, 22 Aug 2015 21:39:48 GMT
      X-Drupal-Cache:
      - MISS
      X-Varnish-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"dateTime":null,"winnerId":null,"maxGames":"5","gameNumber":"1","gameLength":null,"matchId":"5338","tournament":{"id":"241","name":"2015
        NA LCS Summer Playoffs","round":"3"},"platformId":null,"platformGameId":null,"vods":null,"contestants":{"blue":{"id":"1","name":"Team
        SoloMid","logoURL":"http://riot-web-cdn.s3-us-west-1.amazonaws.com/lolesports/s3fs-public/TSM%20logovector%20-white.png"},"red":{"id":"2","name":"Counter
        Logic Gaming","logoURL":"http://riot-web-cdn.s3-us-west-1.amazonaws.com/lolesports/s3fs-public/600px-Clg_logo2.png"}},"players":[],"noVods":0,"legsUrl":false}'
  recorded_at: Sat, 22 Aug 2015 21:44:36 GMT
recorded_with: VCR 2.9.3
